@use '../helpers' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-light);
  // animation-name: scrolling-header;
  // animation-fill-mode: both;
  // animation-timeline: scroll();
  // animation-range: rem(100) rem(200);

  // @keyframes scrolling-header {
  //   to {
  //     box-shadow: 0 0 .1rem var(--color-gray);
  //   }
  // }

  &__body {
    position: relative;
    padding-block: fluid(24,8);
    border-bottom: 1px solid var(--color-gray);
  }

  &__overlay {
    width: 100%;
    display: grid;
    justify-items: end;

    // @include mobile {
    //   position: fixed;
    //   inset: 0;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   row-gap: 3rem;
    //   padding: 1rem;
    //   background-color: var(--color-gray);
    //   transition-duration: var(--transition-duration);

    //   &:not(.is-active) {
    //     @include hide;

    //     translate: 100%;
    //   }
    // }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
    }
    &-list {
      display: grid;
      grid-auto-flow: column;
      column-gap: rem(20);
    }

    &-link {
      color: var(--color-text2);
      font-weight: 500;

      &.is-active {
        color: var(--color-star_text);
        pointer-events: none;
      }
    }
  }

  &__form {
    display: flex;
    column-gap: 1rem;
    
    @include tablet {
      column-gap: 0;
    }
  }
}