@use '../helpers' as *;

.hero__content{
  display: grid;
  gap: fluid(10,5);
  padding-top: fluid(30,10);
  border-bottom: 1px solid var(--color-gray);

  &-profile{
    @include square(rem(150));
    border-radius: 50%;

    @include mobile {
      @include square(rem(60));
    }
  }

  &-body h2{
    position: relative;
    width: fluid(800,600);
    @include fluid-text(22,8);
    color: var(--color-h2);

    @include mobile{
      width: rem(300);
    }
  }
}