@use '../helpers' as *;

// projects id

.projects{
  background-color: var(--color-light);

  &__overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: fluid(30,10);
  }

  &__content {
    position: relative;
    padding-block: fluid(30,10);  

    &-panel {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: rem(40);

            
      &:not(.is-active) {
        display: none;
      }

      &:focus-visible {
        outline-offset: none;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
      }
    }

    &_item {
      display: flex;
      flex-direction: column;
      gap: rem(15);
      padding: rem(10);
      border-radius: rem(11);
      cursor: pointer;
    }

    &_item:hover {
      outline: auto;
      outline-color: var(--color-gray)
    }

    &-name {
      @include fluid-text(18,12);
      font-weight: 600;
      line-height: 1.3rem;
    }

    &-img {
      position: relative;
      background-color: var(--color-img);
      border-radius: rem(10);
      object-fit: cover;
      align-self: center;
      @include square(rem(500));
      height: fluid(350,150);
      @include mobile {
        width: 100%;
        height: rem(250);
      }
    }
  }
}