@use '../helpers' as *;

// projects filter

.filter{

  &__buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: fluid(20,10);
    padding-block: fluid(15,10);
  }

  &__button{
    padding: fluid(20,12);
    border: var(--border);
    border-radius: rem(8);
    font-size: rem(22);
    background-color: transparent;
    color: var(--color-text3);

    @include mobile{
      font-size: rem(14);
    }

    @include hover{
      color: var(--color-star_text);
      border-color: var(--color-star_text);
    }

    &.is-active{
      background-color: var(--color-gray);
      color: var(--color-dark);
      pointer-events: none;
    }
  }
}