@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url(../fonts/PublicSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-size: clamp(1.75rem, 1.5588235294rem + 0.7843137255vw, 2.5rem);
}

h2 {
  font-size: clamp(1.625rem, 1.4656862745rem + 0.6535947712vw, 2.25rem);
}

h3 {
  font-size: clamp(1.5rem, 1.3725490196rem + 0.522875817vw, 2rem);
}

h4 {
  font-size: clamp(1.375rem, 1.2794117647rem + 0.3921568627vw, 1.75rem);
}

h5 {
  font-size: clamp(1.25rem, 1.1862745098rem + 0.2614379085vw, 1.5rem);
}

h6 {
  font-size: clamp(1.125rem, 1.0931372549rem + 0.1307189542vw, 1.25rem);
}

body {
  font-size: clamp(1rem, 0.9681372549rem + 0.1307189542vw, 1.125rem);
}

:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-gray: #CBCBCB;
  --color-footer: #F9F9F9;
  --color-star: #F59E0B;
  --color-star_text: #334155;
  --color-text: #606060;
  --color-text1: #636363;
  --color-text2: #969696;
  --color-h1: #18181B;
  --color-h2: #606060;
  --color-h3: #030314;
  --color-h4: #201F1F;
  --color-svg: #081420;
  --color-img: #F5F5F5;
  --border: 1px solid var(--color-gray);
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Poppins", sans-serif;
  --font-family-accent2: "Manrope", sans-serif;
  --container-width: 75rem;
  --container-padding-x: 1.25rem;
  --transition-duration: .2s;
}
@media (width <= 63.99875rem) {
  :root {
    --container-width: 50.625rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-ppading-x);
  padding: 0 0.9375rem;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}
html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.75rem, 0.6544117647rem + 0.3921568627vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-text1);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-h1);
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent1);
}

h1, .h1 {
  font-size: clamp(0.875rem, 0.6200980392rem + 1.045751634vw, 1.875rem);
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1;
}

h2, .h2 {
  font-size: clamp(0.75rem, 0.4950980392rem + 1.045751634vw, 1.75rem);
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.25rem, 1.1544117647rem + 0.3921568627vw, 1.625rem);
  line-height: 0.57;
}

h4, .h4 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
  line-height: 1.62;
}

h5, .h5 {
  font-size: clamp(1rem, 0.8884803922rem + 0.4575163399vw, 1.4375rem);
  line-height: 1.63;
}

h6, .h6 {
  font-size: clamp(0.875rem, 0.7475490196rem + 0.522875817vw, 1.375rem);
  font-family: var(--font-family-accent2);
  line-height: 1.35;
  font-weight: 800;
  letter-spacing: 0.01em;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-text);
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-star_text);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-star_text);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-star_text);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.logo {
  min-width: 7rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  padding: 1.125rem 1.875rem;
  color: var(--color-text);
  font-size: 1rem;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.75rem;
}
@media (width <= 63.99875rem) {
  .button {
    padding: 0.75rem 1.3125rem;
    font-size: 0.875rem;
  }
}
@media (width <= 47.99875rem) {
  .button {
    padding: 0.875rem 1.5rem;
  }
}
.button--accent {
  background-color: var(--color-star_text);
  color: var(--color-light);
  border-radius: 1.125rem;
  font-weight: 700;
}
.button--accent:hover {
  color: var(--color-star_text);
  border-color: var(--color-star_text);
  background-color: var(--color-text2);
}

.burger-button {
  width: 1.96875rem;
  height: 1.96875rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  color: #282828;
  background-color: transparent;
  border: none;
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.5em 0.3em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 1.96875rem;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1.25rem;
  background-color: var(--color-light);
  animation: add-shadow linear both;
}
.header__bg {
  position: absolute;
  inset: 0;
  top: auto;
  height: 20rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, #fff 100%), url(https://scroll-driven-animations.style/demos/shrinking-header-shadow/shared/skyline.png) repeat-x 50% 100%/650px auto;
  z-index: -1;
}
.header__body {
  position: relative;
  padding-block: clamp(0.5rem, 0.2450980392rem + 1.045751634vw, 1.5rem);
}
.header__info {
  display: grid;
  align-items: end;
  grid-template-columns: clamp(3.75rem, 2.3161764706rem + 5.8823529412vw, 9.375rem) auto;
  gap: clamp(0.0625rem, -0.431372549rem + 2.0261437908vw, 2rem);
}
.header__info_avatar {
  border-radius: 50%;
  border: 0.3rem solid var(--color-light);
  float: left;
  width: 150;
  height: 150;
}
@keyframes adjust-info {
  to {
    grid-template-columns: 5.625rem auto;
    gap: 1rem;
    height: auto;
    height: 4.375rem;
  }
}
@keyframes shrink-name {
  to {
    font-size: 1.5rem;
  }
}
@keyframes add-shadow {
  to {
    box-shadow: 0 0 0.3125rem var(--color-gray);
  }
}
@keyframes move-and-fade-background {
  to {
    translate: 0 -5%;
    scale: 0.9;
    opacity: 0.3;
  }
}
@supports (animation-timeline: scroll()) {
  .header .header__info {
    animation: adjust-info linear both;
  }
  .header .header__info h2 {
    animation: shrink-name linear both;
  }
  .header .header__bg {
    animation: move-and-fade-background linear both;
  }
  .header .header__info, .header .header__info h2, .header .header, .header .header__bg {
    animation-timeline: scroll();
    animation-range: 0 9.375rem;
  }
}
@supports not (animation-timeline: scroll()) {
  .header .header {
    box-shadow: 0 0 0.1rem var(--color-gray);
  }
}

.soc1als__list {
  display: flex;
  column-gap: 3.375rem;
}
@media (width <= 63.99875rem) {
  .soc1als__list {
    column-gap: 2.375rem;
  }
}
@media (width <= 47.99875rem) {
  .soc1als__list {
    column-gap: 1.25rem;
  }
}
.soc1als__item {
  display: flex;
}
.soc1als__link {
  --size: 1.375rem;
  width: var(--size);
  height: var(--size);
  color: var(--color-svg);
}
@media (width <= 63.99875rem) {
  .soc1als__link {
    --size: 1rem;
  }
}
.soc1als--accent {
  color: var(--color-star_text);
}

.footer {
  background-color: var(--color-footer);
}
.footer__body {
  padding-block: clamp(3.125rem, 2.9656862745rem + 0.6535947712vw, 3.75rem);
  border-bottom: var(--border);
  display: grid;
  grid-auto-flow: column;
  align-content: center;
}
@media (width <= 30.06125rem) {
  .footer__body {
    display: contents;
  }
}
@media (width <= 30.06125rem) {
  .footer__logo {
    padding-block: 3.125rem;
  }
}
.footer__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (width > 30.06125rem) {
  .footer__mobile {
    display: contents;
  }
}
@media (width <= 30.06125rem) {
  .footer__menu {
    display: contents;
  }
}
.footer__menu_item {
  display: flex;
  flex-direction: column;
}
.footer__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: clamp(1.875rem, 1.5723039216rem + 1.2418300654vw, 3.0625rem);
}
@media (width <= 30.06125rem) {
  .footer__menu-list {
    text-transform: uppercase;
    flex-basis: 90%;
    order: 1;
    row-gap: 0.625rem;
    padding-block: 3.125rem;
  }
}
.footer__menu-link {
  color: var(--color-text2);
  font-weight: 500;
}
.footer__copyright {
  display: flex;
  align-items: end;
}
@media (width <= 30.06125rem) {
  .footer__copyright {
    opacity: 0;
    visibility: hidden;
  }
}

.hero__content {
  display: grid;
  gap: clamp(0.3125rem, 0.2328431373rem + 0.3267973856vw, 0.625rem);
  padding-top: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
  border-bottom: 1px solid var(--color-gray);
}
.hero__content-profile {
  width: 9.375rem;
  height: 9.375rem;
  background-color: var(--color-img);
  object-fit: cover;
  border-radius: 50%;
}
@media (width <= 47.99875rem) {
  .hero__content-profile {
    width: 3.75rem;
    height: 3.75rem;
  }
}
.hero__content-body h2 {
  position: relative;
  width: clamp(37.5rem, 34.3137254902rem + 13.0718954248vw, 50rem);
  font-size: clamp(0.5rem, 0.2769607843rem + 0.9150326797vw, 1.375rem);
  color: var(--color-h2);
}
@media (width <= 47.99875rem) {
  .hero__content-body h2 {
    width: 100%;
  }
}

.projects {
  background-color: var(--color-light);
}
.projects__overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
}
.projects__content {
  position: relative;
  padding-block: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
}
.projects__content-panel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2.5rem;
}
.projects__content-panel:not(.is-active) {
  display: none;
}
.projects__content-panel:focus-visible {
  outline-offset: none;
}
@media (width <= 47.99875rem) {
  .projects__content-panel {
    display: flex;
    flex-direction: column;
  }
}
.projects__content_item {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  padding: 0.625rem;
  border-radius: 0.6875rem;
  cursor: pointer;
}
.projects__content_item:hover {
  outline: auto;
  outline-color: var(--color-gray);
}
.projects__content-name {
  font-size: clamp(0.75rem, 0.6544117647rem + 0.3921568627vw, 1.125rem);
  font-weight: 600;
  line-height: 1.3rem;
}
.projects__content-img {
  position: relative;
  background-color: var(--color-img);
  border-radius: 0.625rem;
  object-fit: cover;
  align-self: center;
  width: 31.25rem;
  height: 31.25rem;
  height: clamp(9.375rem, 6.1887254902rem + 13.0718954248vw, 21.875rem);
}
@media (width <= 47.99875rem) {
  .projects__content-img {
    width: 100%;
    height: 15.625rem;
  }
}

.filter__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  padding-block: clamp(0.625rem, 0.5453431373rem + 0.3267973856vw, 0.9375rem);
}
.filter__button {
  padding: clamp(0.75rem, 0.6225490196rem + 0.522875817vw, 1.25rem);
  border: var(--border);
  border-radius: 0.5rem;
  font-size: 1.375rem;
  background-color: transparent;
  color: var(--color-text3);
}
@media (width <= 47.99875rem) {
  .filter__button {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .filter__button:hover {
    color: var(--color-star_text);
    border-color: var(--color-star_text);
  }
}
@media (any-hover: none) {
  .filter__button:active {
    color: var(--color-star_text);
    border-color: var(--color-star_text);
  }
}
.filter__button.is-active {
  background-color: var(--color-gray);
  color: var(--color-dark);
  pointer-events: none;
}

.contact {
  background-color: var(--color-light);
}
.contact__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-block: clamp(1.875rem, -0.0367647059rem + 7.8431372549vw, 9.375rem);
}
.contact__group .error {
  opacity: 0;
  visibility: hidden;
}
.contact__group_form {
  display: grid;
  gap: 0.3125rem;
}
.contact__group-mail {
  align-self: center;
}
.contact__group-mail #email {
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

/*# sourceMappingURL=main.css.map */
